Question 1:Discuss string slicing and provide examample

Ans1:In python, you can slice a string using the syntax String[start:end], where start is the index where the slice begins ,and end is the index where the slice ends

In [1]:
str1="Hello World"
str1[0:5]

'Hello'


Question2: Explain the key features of lists in python.

Ans2: List is mutable and list can store heterogeneous data.
           List is an ordered collection of element that can store any type of data

In [5]:
shopping_list=['apple',1,2.2,True,3+6j]
shopping_list.append('mango')
shopping_list

['apple', 1, 2.2, True, (3+6j), 'mango']

In [7]:
# extend->used to append element from another list
my_list=['apple','mango','kiwi']
brother_list=['potato','tomato','chilli']
my_list.extend(brother_list)
my_list

['apple', 'mango', 'kiwi', 'potato', 'tomato', 'chilli']

In [12]:
# concatenate list-> we can concatenate list using + operator

my_list + brother_list

['apple',
 'mango',
 'kiwi',
 'potato',
 'tomato',
 'chilli',
 'potato',
 'tomato',
 'chilli']

Question3:  Describe how to access ,modify and delete element in a list with example.

Ans3: Access element-> you can access element in a list using indexing. Lists  are zero-indexed meaning the first element is at index 0.

In [13]:
# access element

my_list=[10,20,30,40,50,60,70,80,90]
my_list[0]

10

In [14]:
my_list[-1] # last element

90

In [15]:
my_list[1:5]

[20, 30, 40, 50]

In [17]:
# modifiy element in a list
my_list[1]=9
my_list

[10, 9, 30, 40, 50, 60, 70, 80, 90]

In [19]:
my_list[2:4]=[45,55]
my_list

[10, 9, 45, 55, 50, 60, 70, 80, 90]

In [20]:
# delete element in a list

#1.using remove method
my_list.remove(10)
my_list

[9, 45, 55, 50, 60, 70, 80, 90]

In [22]:
# using pop method

my_list.pop(1)
my_list

[9, 55, 50, 60, 70, 80, 90]

In [25]:
# using del method
my_list=[10,20,30,40,50,60,70,80,90]

del my_list[0:5]
my_list

[60, 70, 80, 90]

Question 4:  Compare and contrast tu:ples and lists with example

Ans 4: Tuple-->> Tuple are similar to list in terms of slicing and accessing element, but  they are immutable (cannot be changed )

tuple are written in ()

In [29]:
my_tuple=(10,20,30,40,50,60,70,80,90)

# acces the element
print(my_tuple[0])

10

In [30]:
# access the range of element
print(my_tuple[0:4])

(10, 20, 30, 40)

In [31]:
for i in my_tuple:
  print(i)

10
20
30
40
50
60
70
80
90

List-->> List is mutable means we can modify elements
        list are written in []
        list is a ordered collection of element that can be of any datatype

In [33]:
# modify list

my_lis=[10,20,30,40,50,60,70,80,90]
my_lis[0]='apple'
my_lis

['apple', 20, 30, 40, 50, 60, 70, 80, 90]

Question 5:Describe the key features of sets and provide examples of their  uses.

Ans 5:sets--> sets is a unordered and unique collection of element
              in sets it does not allow duplicate element
              unordered-> indexing will not work

In [35]:
s={1}
type(s)

set

In [38]:
s={1,2,3,1,2,1,"Ajay","mohan","Ram","Ram"}
type(s)

set

In [39]:
s # only unique vale allow

{1, 2, 3, 'Ajay', 'Ram', 'mohan'}

In [43]:
# adding in sets

s1={1,2,3,4}
s1.add(100)
s1

{1, 2, 3, 4, 100}

In [48]:
# pop method in sets

s2={1,2,3,4,5}
s2.pop()  # it pop random element

1

In [53]:
# remove method

s3={1,2,3,4,5}
s3.remove(5)
s3

{1, 2, 3, 4}

In [58]:
s4={'apple','mango',1,2,3,45,90}
s4.update('mango')
s4

{1, 2, 3, 45, 90, 'a', 'apple', 'g', 'm', 'mango', 'n', 'o'}

In [57]:
s4.update(['mango'])
s4

{1, 2, 3, 45, 90, 'a', 'apple', 'g', 'm', 'mango', 'n', 'o'}

In [59]:
# discard

s4.discard('apple')
s4

{1, 2, 3, 45, 90, 'a', 'g', 'm', 'mango', 'n', 'o'}

Question 6:Discuss the use case of tuple and sets in python programming.

Ans: use case of tuple:

1.immutability: Tuple are immutable,meaning their contents cannot be changed after creation.

2. Dictionary Keys: Tuples can be used as keys in dictionaries due to their immutability
Ex: tuple can store multi-part keys:

student_scores={('john','math'):90}


=>use case of sets

1.Uniqueness: Sets automatically eliminate duplicate elements

2.Membership Testing:Sets support mathmatical operation such as union,intersection and difference

In [60]:
# sets use case

#1.uniqueness

set_1={1,2,3,1,4,"apple","apple"}
set_1

{1, 2, 3, 4, 'apple'}

In [63]:
#2.Membership Testing
#union
set1={'hiking','reading','coding'}
set2={'coding','photography','drawing'}
set1|set2

{'coding', 'drawing', 'hiking', 'photography', 'reading'}

In [64]:
#difference
set1-set2

{'hiking', 'reading'}

In [65]:
#Symmetric difference
set1^set2

{'drawing', 'hiking', 'photography', 'reading'}

Question7:Describe how to add, modifiy,delete itemns in dictionary with example.

In [66]:
d={"name":"Ajay","email":"a@gamil.com","contact":1234}
d

{'name': 'Ajay', 'email': 'a@gamil.com', 'contact': 1234}

In [69]:
# add element in dictionary
# using update() method
d={"name":"Ram"}
d.update({'age':25,"city":"up"})
d

{'name': 'Ram', 'age': 25, 'city': 'up'}

In [71]:
# add element using assignment
my_dict={}
my_dict["name"]="Ram"
my_dict["age"]=25
my_dict["city"]="up"
print(my_dict)

{'name': 'Ram', 'age': 25, 'city': 'up'}

In [72]:
# modify element in dictionary

my_dict["name"]="Shyam"
my_dict

{'name': 'Shyam', 'age': 25, 'city': 'up'}

In [74]:
# delete element in dictionary

{'name': 'Shyam', 'age': 25, 'city': 'up'}

{'age': 25}

In [79]:
# delete using del keyword
d={"name":"Ajay","email":"a@gamil.com","contact":1234}
del d["email"]  # to delete a key
d

{'name': 'Ajay', 'contact': 1234}

In [81]:
# delete whole dictionary

d.clear()
d

{}

Question 8:Discuss the importance of dictionary keys being immutable and provide example

Ans 8: Dictionary is a data structure that stores data as key value pair
      Importance of immutable keys

 Consistency and Reliability: immutable keys ensure hat t6he key-value pairs remain stable .if keys could  chnage it would be impossible to gurantee consistent access to the values associated with those keys

In [87]:
# Immutable key (tuple)

my_dict1={('a',1):"value1"} # Tuple  as key words as fine
print(my_dict1[('a',1)])

value1

In [ ]:
# mutable key (list)
my_dict={[1,2]:"value2"}  # List as key will raise an error